$width: 300px;
$height: 250px;

body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, sans-serif;
    font-size: 10px;
    background-color: #fff;
}

ft-video, ft-default, #ad-content, #ad-vid {
    position: absolute;
    width: $width;
    height: $height;
    top: 0;
    left: 0;
    background-color: #352161;
}

.border {
    position: absolute;
    width: $width;
    height: $height;
    border: 1px solid #000;
    box-sizing: border-box;
}

#replay {
  position: absolute;
  width: 20px;
  height: 24px;
  bottom: 8px;
  left: 8px;
  z-index: 10;
  opacity: 1;
  display: block;
  cursor: pointer;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

#replay img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.off {
  position: absolute;
  left: 1000px;
  top: 1000px;
  opacity: 0;
}