html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  font-family: Sans-Serif;
}

img {
  margin: 0;
  padding: 0;
  border: none;
  height: auto;
  max-width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 300px;
  height: 250px;
  background: #dfe9f7;
  border: 1px #11151a solid;
  overflow: hidden;
}

#ad-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#ad-content.loading {
  top: 1000px;
  left: 1000px;
  opacity: 0;
}

ft-default {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  box-sizing: border-box;
}

#replay {
  position: absolute;
  width: 20px;
  height: 24px;
  bottom: 8px;
  left: 8px;
  z-index: 100;
  opacity: 0.6;
  display: block;
  cursor: pointer;
  transition: opacity 0.5s;
}

#replay:hover {
  opacity: 1;
}

#replay img {
  max-width: 100%;
  display: block;
  cursor: pointer;
}

.off {
  position: absolute;
  left: 1000px;
  top: 1000px;
  opacity: 0;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

#preloader.off {
  top: 1000px;
  left: 1000px;
  opacity: 0;
}

#preloader ul {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 50px;
  left: 150px;
  top: 125px;
  margin-top: -5px;
  margin-left: -25px;
  height: 10px;
  background: none;
}

#preloader ul li {
  list-style: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #7c94b6;
  float: left;
  margin-left: 10px;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

#preloader ul li:first-child {
  margin-left: 0;
}

#preloader ul li:nth-child(2) {
  animation-delay: 0.2s;
}

#preloader ul li:nth-child(3) {
  animation-delay: 0.4s;
}

#video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

#video-container #vid {
  width: 100%;
  height: 100%;
}

#copy-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  opacity: 0;
  background: url("assets/gradient.jpg") #dfe9f7 center/300px 250px no-repeat;
}

#copy-container .copy-block {
  position: absolute;
  width: 150px;
  display: block;
  top: 45px;
  left: 75px;
}

#copy-container .copy-block .copyline {
  width: 100%;
  display: block;
  opacity: 0;
  margin-top: 2px;
}

#copy-container .copy-block .copyline:first-child {
  margin-top: 0;
}

#copy-container .copy-block .copyline img {
  width: 100%;
}

#copy-container #logo {
  position: absolute;
  width: 150px;
  left: 75px;
  display: block;
  bottom: 42px;
  opacity: 0;
}

#copy-container #logo img {
  width: 90%;
}

#logo-intro-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background: url("assets/gradient.jpg") #dfe9f7 center/300px 250px no-repeat;
}

#logo-intro-wrapper #logo-intro {
  position: relative;
  display: block;
  -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
  width: 60%;
}

#logo-intro-wrapper #logo-intro img {
  display: block;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  width: 100%;
}
