<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:700,800" rel="stylesheet">
  <link rel="stylesheet" href="style.css">
  <title></title>
</head>
<body>
  <ft-default clicktag>
    <div class="ad-content">
      <div class="bg-image"></div>
      <div class="gradient"></div>
      <div class="gradient-solid"></div>
      <div class="svg-content" id="graphics"></div>
      <div class="graphics-images">
        <img class="icon__svg window" src="assets/icon_window.svg">
        <img class="icon__svg comp" src="assets/icon_computer.svg">
      </div>
      <div class="copylines frame-1">
        <h1 class="headline-1" data-copyline="Tech challenges you’ve"></h1>
        <h1 class="headline-2" data-copyline="never known before"></h1>
      </div>
      <div class="copylines frame-2">
        <h1 class="headline-3" data-copyline="A team you’ve never"></h1>
        <h1 class="headline-4" data-copyline="mentored before"></h1>
      </div>
      <div class="endframe">
        <div class="job-title">
          <h1 class="headline-5" data-copyline="Software"></h1>
          <h1 class="headline-6" data-copyline="Engineer"></h1>
          <h1 class="headline-7" data-copyline="& Leader"></h1>
        </div>
        <div class="payoff">
          <h1 class="headline-8" data-copyline="It’s time to own"></h1>
          <h1 class="headline-9" data-copyline="the unknown"></h1>
        </div>
        <div class="logo">
          <img src="assets/logo.png">
        </div>
      </div>
    </div>
  </ft-default>
  <script src="https://cdn.flashtalking.com/frameworks/js/api/2/10/html5API.js"></script>
  <script src="https://cdn.flashtalking.com/frameworks/js/gsap/latest/TweenMax.min.js"></script>
  <script src="lib/zepto.min.js"></script>
  <script src="lib/svg.min.js"></script>
  <script src="lib/preloadjs.min.js"></script>
  <script src="script.js"></script>
</body>
</html>